{% form 'product', product, id: form_id, class: 'product-form' %}
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  
  <div class="product-form__error-message-wrapper" role="alert" hidden>
    <span class="product-form__error-message"></span>
  </div>
  
  <div class="product-form__controls-group product-form__controls-group--submit">
    <button
      type="submit"
      name="add"
      class="product-form__submit button button--add-to-cart{% unless product.available %} button--sold-out{% endunless %}"
      {% unless product.available %}disabled{% endunless %}
    >
      <span class="product-form__submit-text">
        {% if product.available %}
          {{ 'products.product.add_to_cart' | t }}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
      <span class="loading-overlay__spinner hidden">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </span>
    </button>
  </div>
{% endform %}